<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>详细信息</title>
        


        <script>
//            $(function () {
//                $('.title-list li').click(function () {
//                    var liindex = $('.title-list li').index(this);
//                    $(this).addClass('on').siblings().removeClass('on');
//                    $('.menutab-wrap div.menutab').eq(liindex).fadeIn(150).siblings('div.menutab').hide();
//                    var liWidth = $('.title-list li').width();
//                    $('.shopcontent .title-list p').stop(false, true).animate({'left': liindex * liWidth + 'px'}, 300);
//                });
//
//                $('.menutab-wrap .menutab li').hover(function () {
//                    $(this).css("border-color", "#ff6600");
//                    $(this).find('p > a').css('color', '#ff6600');
//                }, function () {
//                    $(this).css("border-color", "#fafafa");
//                    $(this).find('p > a').css('color', '#666666');
//                });
//            });

        </script>
        <style>
            .price_a{
                
            }
            .Tran_infor{
                
            }
            .Numerical{
                
            }.yuex{
                
            }
        </style>
    </head>
    <body>
        <header>
            <include file="./Application/Home/View/public/head.html"/>

            <nav class="menu_bg">
                <ul class="menu">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="list.html">订餐</a></li>
                    <li><a href="category.html">积分商城</a></li>
                    <li><a href="article_read.html">关于我们</a></li>
                </ul>
            </nav>
        </header>
        <!--Start content-->
        <section class="slp">
            <section class="food-hd">
                <div class="foodpic">
                    <img src="" id="showimg">

                </div>
                <div class="foodtext">
                    <div class="foodname_a">
                        <h1 id="foodnamee"style="text-align: center;padding-top: 25px;padding-bottom: 21px;"></h1>
                        <!--<p>西安市丈八路220号</p>-->
                    </div>
                    <div class="price_a">
                                         
                        <p class="price01">价格：￥<span id="prices"></span></p>
                        <ul class="Tran_infor1" style="text-align: right">
                                            <li>
                                                <p class="Numerical" style="margin-right: 14px;margin-top: -30px;text-align: right;font-weight:bold;color:#b77e5e;font-size:15px;">0</p>
                                                <p class="yuex">月销量</p>
                                                
                                            </li>
                                          
                                        </ul>
                    </div>
                                     
                    <form action="" id="formshopping">
                        <div class="BuyNo">
                            <span>我要买：<input type="number" name="number" required autofocus min="1" value="1"/>份</span>
                            <div class="Buybutton">
                                <input type="button" value="加入购物车" class="BuyB" onclick="shopdata()">
                                <!--<a href="javascript:void(0);"onclick="sporder()"><span class="Backhome">详情</span></a>-->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="viewhistory">
                    <span class="VHtitle">热销商品</span>
                     <ul class="Fsulist">
                         
                    <volist name="foodname" id="vb">
                    
                        <li>    
                            <a href="__CONTROLLER__{$vb.fn_link}?foodname={$vb.id}" target="_blank" title="酱爆茄子"><img src="__PUBLIC__/images/{$vb.f_picture}"></a>
                            <p>{$vb.f_name}</p>
                            <p>￥{$vb.f_price}</p>
                        </li>
                      </volist>
                      
                    </ul>
                </div>
            </section>
        </section>
        <!--End content-->
        <script>
            function getParams(key) {
                var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
                //如果地址栏中出现中文则进行编码    
                var r = encodeURI(window.location.search).substr(1).match(reg);
                if (r != null) {
                    //将中文编码的字符重新变成中文
                    return decodeURI(unescape(r[2]));
                }
                return null;
            }
            $.ajax({
                url: "{:U('Index/pagedata','','')}",
                data: {"id": getParams("foodname")},
                type: "post",
                dataType: "json",
                success: function (data) {
                    $("#foodnamee").text(data['f_name']);
                    $("#prices").text(data['f_price']);
                     $(".Numerical").text(data['state']);
                    $("#showimg").attr("src", "__PUBLIC__/images/" + data['f_picture']);
                }
            });
            function shopdata() {
                number = $('input[name="number"]').val();
                foodname = $('#foodnamee').text();
                $.ajax({
                    url: "{:U('Index/shopc','','')}",
                    data: {"foodname": foodname, "number": number, "id": getParams("foodname")},
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data == 'ok') {
                            window.location.href = "{:U('System/cart','','')}";
                        } else {
                            alert(data);
                            window.location.href = "{:U('Login/index','','')}";
                        }
                    }
                });
            }
            function sporder() {
                number = $("input[name='number']").val();
                foodname = $("#foodnamee").text();
                alert(number);
                alert(foodname);
                $.ajax({
                    url: "{:U('System/sporder','','')}",
                    data: {"foodname":foodname,"number":number},
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        
                    }
                });
            }
        </script>
    <include file="./Application/Home/View/public/foot.html" />
</body>
</html>
